<div data-dojo-attach-point="contentNode">
     <!-- title + lede -->
     <div class="title page-header">
         <div class="container-fluid">
             <div class="row title">
                 <div class="col-xs-12">                        
                     <h1>US Antarctic Program Research Data Geoportal</h1>                                           
                     <p class="lead"></p>
                 </div>
             </div>
         </div>
     </div>
        
	 <!-- main -->          
	 <div class="content main">
	    <div class="container-fluid">
	    <div class="row">
	        <div class="col-xs-12">         
	            <div id="content" class="row">
	                <div class="col-xs-12">                                           
				<h2>Who We Are</h2>
				<p>This catalog is maintained by the US Antarctic Program Data Center, based at Lamont-Doherty Earth Observatory of Columbia University.</p>
	                </div>
	            </div>     
	            </div>
	    </div>
	    </div>
	</div>

	 <div class="container-fluid">
	 <div class="row">
	 <div class="col-xs-12">
	 	<div class="row">
	 	<div class="col-xs-12 col-md-9">
	    	<h2>What We Do</h2>
	        <div class="row">
	        <div class="col-xs-12">
	        	<p>This catalog provides access to metadata for products of research funded by the National Science Foundation Antarctic Research program. Metadata records are harvested from the US Antarctic Program data center (http://usap-dc.org) and from the NASA Global Change Master Directory (GCMD). Antractic Master Direcory (AMD)</p>
	         </div>
	        </div>
	    </div>
	 	</div>
	 	<div class="row bg-info">
	 	<div class="col-xs-12 col-md-3">     
			<h4>Contact Us</h4>
			<p>For questions or suggestions for improvement contact <a href="info@usap-dc.org">USAP</a> Data Manager.</p>
	 	</div>
	 	</div>
	 </div>
	 </div>
	 </div>
 </div> 