<div data-dojo-attach-point="contentNode">
  <div class="g-search-pane" data-dojo-type="app/search/SearchPane">
    <div class="g-search-pane-left">
      <div data-dojo-type="app/search/PageUrlFilter"></div>
      <div data-dojo-type="app/search/SearchBox"></div>
<!--       <div data-dojo-type="app/search/SpatialFilter"
        data-dojo-props="
          field: 'envelope_geo',
          pointField: 'envelope_cen_pt',
          allowAggregation: true,
          open: false,
          label:'${i18n.search.criteria.map}'">
      </div> -->
	  
	  
<!--   might need to update data and temporal filter widgets
 SMR 2017-10-20 -->
       <div data-dojo-type="app/search/TemporalFilter"
        data-dojo-props="
          nestedPath:'timeperiod_nst',
          field:'timeperiod_nst.begin_dt',
          toField:'timeperiod_nst.end_dt',
          interval:'year',
          open:false,
          label:'Data acquisition or target time interval'">
      </div>
	  
<!--  SMR 2017-10-20 add pub date filter from IEDA geoportal; this might use a newer 
   version of the filter widget -->
	  <div data-dojo-type="app/search/TemporalFilter"
        data-dojo-props="
           field:'apiso_PublicationDate_dt',
          interval:'year',
          open:false,
          label:'Publication or release date',
          fieldsOperator: 'must'">
      </div>
      
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'apiso_TopicCategory_s',open:false,label:'${i18n.search.criteria.topicCategory}'">
      </div>
      
      <!-- added by SMR 2017-10-20 -->
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'cited_individual_s',
		label:'Investigator/Author',
		props:{size:2000, order:{_term:'asc'}}">
      </div>
      
<!-- 	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'cited_organization_s',
		label:'Cited Organization'">
      </div>
       -->
      
	  <!-- SMR 2017-10-20 change other keyword evaluation, make lists longer,
         sort terms ascending  -->

      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'place_keywords_s',
		label:'Place keywords',
		props:{size:1000, order:{_term:'asc'}}">
      </div>       
	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'platform_keywords_s',
		label:'Platforms',
		props:{size:1000, order:{_term:'asc'}}">
      </div> 
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'instrument_keywords_s',
		label:'Instruments',
		props:{size:1000, order:{_term:'asc'}}">
      </div>
 	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'project_keywords_s',
		label:'Projects',
		props:{size:1000, order:{_term:'asc'}}">
      </div>
	  
	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'other_keywords_s',
		label:'Other search terms',
		props:{size:500}">
      </div> 
      
<!-- 	  <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="
		field:'other_keywords_s',
		label:'Other keywords',
		props:{size:50}">
      </div>        
       -->
      
      <div data-dojo-type="app/search/TermsAggregation"
        data-dojo-props="field:'src_source_name_s',label:'Harvest source',props:{size:20}">
      </div>    
    </div>
    <div class="g-search-pane-right">
      <div data-dojo-type="app/search/AppliedFilters" data-dojo-props="autoExpand:true"></div>
      <div data-dojo-type="app/search/ResultsPane"></div>
    </div>
  </div>    
</div>